<html>
  <head>
    <link rel="stylesheet" href="/public/pages/global.css" />
  </head>
  <body>
    <h1>For Testing Purposes</h1>
    <div id="root"><%- html %></div>
    <script type="module">
      import * as bootstrapScript from '<%= script %>';

      (function runner() {
        if (typeof bootstrapScript?.hydrate !== 'function') {
          return;
        }

        bootstrapScript.hydrate(document.querySelector('#root'))(<%- hydrateArgs %>);
      })();
    </script>
  </body>
</html>
