<html>
  <head>
    <link rel="stylesheet" href="/public/pages/global.css" />
    <link rel="stylesheet" href="/public/components/demoBox.css" />
  </head>
  <body>
    <h1>My App</h1>
    <div class="demo-box">
      <button>Load Content (First)</button>
      <div id="first"></div>
    </div>

    <div class="demo-box">
      <button>Load Content (Second)</button>
      <div id="second"></div>
    </div>

    <script type="module" src="/public/pages/index.js"></script>
  </body>
</html>
