<div>
  Hello world, <%= text %>
</div>
<script type="module" src="/public/test.js"></script>
<script type="module">
  window['<%= uuid %>'] = {
    bootstrap(a, b) {
      window.test(a, b);
    }
  }
</script>
